.dark-background {
    background-color: #2b362e;
    color: #fafcfb;
}

nav {
    padding: 1em;
    font-size: 24pt;
}

#filter-dropdown {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.note-input {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.item-container {
    border: 1px dashed black;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.alibi-list__person {
    border: 5px dashed red;
}

.note-list {
    display: flex;
    flex-wrap: wrap;
}

.note {
    border: 1px dashed black;
    margin: 2em;
}